@font-face {
    font-family: 'Nunito Regular';
    font-style: normal ;
    font-weight: 400px;
    src: url('/01_typographies/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Black Italic';
    src: url('/01_typographies/Nunito/Nunito-BlackItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Sarabun Light Italic';
    src: url('/01_typographies/Sarabun/Sarabun-LightItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Sarabun Regular';
    src: url('/01_typographies/Sarabun/Sarabun-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Sarabun Italic';
    src: url('/01_typographies/Sarabun/Sarabun-Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Sarabun Bold';
    src: url('/01_typographies/Sarabun/Sarabun-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Sarabun Extrabold';
    src: url('/01_typographies/Sarabun/Sarabun-ExtraBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Sarabun Extrabold Italic';
    src: url('/01_typographies/Sarabun/Sarabun-ExtraBoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Climate crisis';
    src: url('/01_typographies/ClimateCrisis/ClimateCrisis-Regular.ttf') format('truetype')
}

/* ______________SEPARER L'ECRAN EN DEUX____________________ */
body, html {
    font-family: 'Sarabun Regular';
    margin: 0;
    padding: 0;
    height: 100%;
}
  /*.container {
    display: flex;
    height: 100%;
  }*/
.gauche {
    width: 200px; /* Ajustez la largeur selon vos besoins */
    overflow: hidden; /* Empêche le contenu débordant de scroller */
    position: fixed; /* Rend la partie gauche fixe */
    height: 100%;
    border-right: 3px solid black;
    background: #ffffff;
}
.droite {
    width: calc(100% - 202px); /*Ajustez la largeur selon vos besoins */
    margin-left: 202px; /* Décale la partie droite pour ne pas être cachée par la partie gauche */
    background-color: #f3f3f3; /* Couleur de fond de la partie droite */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    height: 100%;
}
/* ______________COTE GAUCHE____________________ */
.logo-site-titre {
    font-size: large;
    font-family: 'Sarabun Extrabold';

}
.logo-site-sous-titre {
    font-size: xx-small;
    font-family: 'Sarabun Regular';
}
h1 {
    margin: 0%;
    text-align: center;
    letter-spacing: 2px;
}
h2 {
    text-align: center;
    margin: 0%;
    letter-spacing: 4px;
}
.rectangle {
    padding: 10%;
    height: 90%;
}
.rectangle a {
    text-decoration: none;
    color: black;
}
/* ul {
    list-style-type: disc;
} */
.liste-sommaire ul {
    list-style-type: none;
    letter-spacing: 1px;
    line-height: 5em;
    padding: 1.5em;
    text-align: center;
}
/* ______________CV____________________ */
.grid-cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px;
}
.rond {
    border-radius: 25%;
}
.titre-cv-1 {
    font-family: 'Sarabun Extrabold';
    font-size: 30px;
    grid-column: 1/3;
    grid-row: 1;
    margin-top : -7px;
}
.titre-cv-2 {
    font-family: 'Sarabun Extrabold';
    font-size: 30px;
    text-align: right;
    grid-column: 5/6;
    grid-row: 3;
    margin-top: 5em;
}
.date-cv {
    font-size: large;
    grid-column: 1;
    grid-row: 2;
    font-family: 'Sarabun Light Italic';
}
.bold {
    font-family: 'Sarabun Bold';
}
.italique {
    font-family: 'Sarabun Italic';
}
.grid-cv ul {
    list-style-type: circle;
}
.mieux-entreprendre {
    font-size: 20px;
    grid-column: 1/4;
    grid-row: 3;
}
.permis-de-vivre-la-ville {
    font-size: 20px;
    grid-column: 1/4;
    grid-row: 4;
}
.competences {
    text-align: right;
    font-size: 18px;
    grid-column: 5/6;
    grid-row: 4;
}
/* ______________LISTE DE PROJETS____________________ */
.container {
    flex-direction: column; /* Aligne les blocs verticalement */
    align-items: flex-start; /* Aligne les blocs à gauche */
}
.bloc {
    /* ne pas forcer la hauteur */
    width: 100%; /* Largeur des blocs */
    border-bottom: 1px solid black;
}
.anim01 {
    background-color: #D9E4E6;
    background-image: url(/03_couvertures/spirale.gif);
    background-repeat: no-repeat;
    background-position: -128px 0;
}
.anim01 a {
    padding: 82px;
    display: block;
    text-decoration: none;
    color: #011627;
    font-family: 'Climate crisis';
    font-size: xx-large;
    text-align: center;
}
.anim01 a:hover {
    background: url(/03_couvertures/spirale.gif) repeat 0 0;
}

.anim02 {
    background-color: #FFF8E6; /* Couleur de fond des blocs */
    background-image: url(/03_couvertures/pois.gif);
    background-repeat: no-repeat;
    background-position: -128px 0;
}
.anim02 a {
    padding: 82px;
    display: block;
    text-decoration: none;
    color: #011627;
    font-family: 'Climate crisis';
    font-size: xx-large;
    text-align: center;
}
.anim02 a:hover {
    background: url(/03_couvertures/pois.gif) repeat 0 0;
}

.anim03 {
    background-color: #FFE2DE; /* Couleur de fond des blocs */
    background-image: url(/03_couvertures/baton.gif);
    background-repeat: no-repeat;
    background-position: -128px 0;
}
.anim03 a {
    padding: 82px;
    display: block;
    text-decoration: none;
    color: #011627;
    font-family: 'Climate crisis';
    font-size: xx-large;
    text-align: center;
}
.anim03 a:hover {
    background: url(/03_couvertures/baton.gif) repeat 0 0;
}

/* ______________PROJET____________________ */

/* ______________SOMMAIRE + PRESENTATION DE PROJET____________________ */
.grid-projet {
    display: grid;
    grid-template-columns: 140px 200px;
    overflow: hidden; /* Empêche le contenu débordant de scroller */
    position: fixed; /* Rend la partie gauche fixe */
    height: 100%;
    border-right: 3px solid black;
}
.sommaire-projet {
    grid-column: 1;
}
.texte-projet {
    grid-column: 2;
    padding: 15px;
}
.rectangle-projet {
    padding: 7%;
    height: 100%;
    border-right: 3px solid black;
}
.rectangle-projet a {
    text-decoration: none;
    color: black;
}
ol {
    list-style-type: none;
    letter-spacing: 1px;
    line-height: 2em;
    padding: 1.5em;
    text-align: center;
}
.logo-site-titre-projet {
    font-size: small;
    font-family: 'Sarabun Extrabold';

}
.logo-site-sous-titre-projet {
    font-size: xx-small;
    font-family: 'Sarabun Regular';
}
.droite-projet {
    width: calc(100% - 340px); /*Ajustez la largeur selon vos besoins */
    margin-left: 340px; /* Décale la partie droite pour ne pas être cachée par la partie gauche */
    background-color: #f3f3f3; /* Couleur de fond de la partie droite */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    height: 100%;
}

/* ______________STRUCTURE PROJET____________________ */
.titre-projet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 19px;
    gap: 40px;
}
.titre-projet h3 {
    color: #000;
    font-family: 'Sarabun Extrabold';
    font-size: 44px;
    grid-column: 1/3;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 35px;
    margin: 30px;
}
/* ______________Larmes du Taureau____________________ */
.taureau1 {
    grid-column: 1/5;
    grid-row: 3;
}
.taureau2 {
    grid-column: 1/3;
    grid-row: 2;
}
.taureau3 {
    grid-column: 3/5;
    grid-row: 2;
}